.contact {
  background: $gray-mid;

  &__inner {
    @include container;
  }

  &__title {
    margin: 0 auto 36px;
    max-width: 200px;
    padding: 48px 0 0;
    vertical-align: top;
    color: #fff;
    font-family: $bpro-medium;
    font-style: italic;
    text-align: right;

    @include breakpoint(480px 899px) {
      max-width: 300px;
      margin: 0 auto 15px;
      padding: 50px 0 0;
    }
    @include breakpoint(900px 1139px) {
      float: left;
      max-width: 35%;
      margin: 70px 0 0 3%;
      padding: 0 20px 0 0;
    }
    @include breakpoint(1140px) {
      float: left;
      max-width: 40%;
      margin: 70px 0 0 12%;
      padding: 0 20px 0 0;
    }
  }

  &__form {
    margin: 0 auto 15px;

    @include breakpoint(max-width 479px) {
      text-align: center;
      padding-bottom: 45px;
    }
    @include breakpoint(480px 899px) {
      max-width: 456px;
      padding: 30px 0 10px;
    }
    @include breakpoint(900px 1139px) {
      float: left;
      width: 60%;
      max-width: 60%;
      margin: 0 0 15px;
      padding: 75px 0 0 30px;
    }
    @include breakpoint(1140px) {
      float: left;
      width: 45%;
      max-width: 45%;
      margin: 0 0 15px;
      padding: 75px 0 0 45px;
    }
  }

  &__small {
    font-size: 18px;
    position: relative;
    right: 25px;

    @include breakpoint(480px 1139px) {
      right: 40px;
      font-size: 24px;
    }
    @include breakpoint(1140px) {
      font-size: 32px;
      right: 60px;
    }
  }

  &__large {
    font-size: 36px;
    line-height: 0.5;
    font-weight: bold;
    letter-spacing: 0.06em;

    @include breakpoint(480px 1139px) {
      font-size: 64px;
    }
    @include breakpoint(1140px) {
      font-size: 78px;
    }
  }

  // form field wrappers
  &__fio {
    margin-bottom: 12px;

    @include breakpoint(480px) {
      float: left;
      margin-bottom: 10px;
    }
  }

  &__email {
    margin-bottom: 12px;

    @include breakpoint(480px) {
      float: left;
      clear: left;
      margin: 0;
    }
  }

  &__text {
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 5px;

    @include breakpoint(480px) {
      float: right;
      position: relative;
      top: -48px;
      margin: 0;
    }
  }

  // form fields
  &__input {
    max-width: 250px;
    margin: 0;
    padding: 8px 6px 8px 24px;
    font-family: $ptsans;
    font-size: 16px;
    border: solid 1px #fff;
    border-radius: 5px;

    @include input-placeholder {
      color: #9c9c9c;
      font-style: italic;
    }

    @include breakpoint(480px) {
      max-width: 225px;
    }

    &:focus {
      outline: none;
      border: solid 1px #999;

      @include input-placeholder {
        color: #fff;
      }
    }
  }

  &__textarea {
    max-width: 250px;
    max-height: 87px;
    padding: 6px 12px;
    font-family: $ptsans;
    font-size: 16px;
    border: solid 1px #fff;
    border-radius: 5px;

    @include breakpoint(480px) {
      max-width: 225px;
    }

    @include input-placeholder {
      color: #9c9c9c;
      font-style: italic;
    }
    &:focus {
      outline: none;
      border: solid 1px #999;

      @include input-placeholder {
        color: #fff;
      }
    }
  }

  .webform-client-form {
    max-width: 470px;
    overflow: hidden;
  }

  .form-actions {

    @include breakpoint(480px) {
      float: right;
      clear: both;
      margin: 0;
    }
  }

  .form-textarea-wrapper {

    @include breakpoint(max-width 479px) {
      max-width: 250px;
      margin: 0 auto;
    }
  }

  .form-submit {

    width: 250px;
    padding: 11px 20px;
    background: #fac819;
    color: #fff;
    font-family: $bpro-medium;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 5px 0 #b6941b;

    @include breakpoint(480px) {
      width: 225px;
      position: relative;
      top: -40px;
    }

    &:hover {
      background: darken(#fac819, 10%);
    }
  }
}

