.contact {
  background: $gray-mid;

  @include breakpoint(max-width 767px) {
    padding: 32px 0 38px
  }

  &__inner {
    @include container;
  }

  &__title {
    float: left;
    max-width: 40%;
    margin-top: 70px;
    margin-left: 12%;
    padding-right: 20px;
    vertical-align: top;
    color: #fff;
    font-family: $bpro-medium;
    font-style: italic;
    text-align: right;

    @include breakpoint(max-width 767px) {
      max-width: 200px;
      float: none;
      margin: 0 auto 25px;
      padding-right: 0;
      text-align: center;
    }
    @include breakpoint(768px 1023px) {
      margin-left: 10%;
    }
  }

  &__button {
    display: none;

    @include breakpoint(max-width 767px) {
      display: block;
      max-width: 220px;
      margin: 0 auto;
      color: #fff;
      font-family: $bpro-medium;
      font-size: 16px;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
    }
  }

  &__form {
    float: left;
    width: 45%;
    margin-bottom: 15px;
    padding-top: 75px;
    padding-left: 45px;

    @include breakpoint(max-width 767px) {
      display: none;
    }
    @include breakpoint(768px 1023px) {
      width: 60%;
    }
  }

  &__small {
    font-size: 32px;
    position: relative;
    right: 60px;

    @include breakpoint(max-width 639px) {
      display: inline-block;
      font-size: 18px;
    }
    @include breakpoint(640px 767px) {
      display: inline-block;
      line-height: 1;
      font-size: 24px;
    }
    @include breakpoint(768px 1023px) {
      font-size: 28px;
    }
  }

  &__large {
    font-size: 78px;
    line-height: 0.5;
    font-weight: bold;
    letter-spacing: 0.06em;

    @include breakpoint(max-width 639px) {
      display: inline-block;
      font-size: 18px;
    }
    @include breakpoint(640px 767px) {
      display: inline-block;
      line-height: 1;
      font-size: 24px;
    }
    @include breakpoint(768px 1023px) {
      font-size: 40px;
    }
  }

  // form field wrappers
  &__fio {
    float: left;
    margin-bottom: 10px;

    .question & {
      float: none;
    }
  }

  &__email {
    float: left;
    clear: left;
    margin: 0;

    .question & {
      float: none;
    }
  }

  &__text {
    float: right;
    margin: 0;
    position: relative;
    top: -48px;
    font-size: 14px;
    border-radius: 5px;

    .question & {
      float: none;
      position: static;
    }
  }

  // form fields
  &__input {
    max-width: 225px;
    margin: 0;
    padding: 8px 6px 8px 24px;
    font-family: $ptsans;
    font-size: 16px;
    border: solid 1px #fff;
    border-radius: 5px;

    @include input-placeholder {
      color: #9c9c9c;
      font-style: italic;
    }
    &:focus {
      outline: none;
      border: solid 1px #999;

      @include input-placeholder {
        color: #fff;
      }
      .question & {
        border: solid 1px #999;
      }
    }

    .question & {
      border: solid 1px #ccc;
    }
  }

  &__textarea {
    max-width: 225px;
    max-height: 87px;
    margin: 0;
    padding: 6px 12px;
    font-family: $ptsans;
    font-size: 16px;
    border: solid 1px #fff;
    border-radius: 5px;

    @include input-placeholder {
      color: #9c9c9c;
      font-style: italic;
    }
    &:focus {
      outline: none;
      border: solid 1px #999;

      @include input-placeholder {
        color: #fff;
      }
      .question & {
        border: solid 1px #999;
      }
    }

    .question & {
      margin: 20px auto;
      max-width: 190px;
      border: solid 1px #ccc;
    }
  }

  .webform-client-form {
    max-width: 470px;
    overflow: hidden;
  }

  .form-actions {
    float: right;
    clear: both;
    margin: 0;
  }

  .form-submit {
    position: relative;
    top: -40px;
    width: 225px;
    padding: 11px 20px;
    background: #fac819;
    color: #fff;
    font-family: $bpro-medium;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 5px 0 #b6941b;

    &:hover {
      background: darken(#fac819, 10%);
    }
  }
}

