.footer {
  padding: 45px 20px 50px;
  background: $gray-mid;

  @include breakpoint(960px) {
    padding: 70px 0 100px;
  }
  &__inner {
    @include container;
  }

  &__content {

    @include breakpoint(960px) {
      margin-left: 70px;
      padding-left: 30px;
      border-left: solid 1px $yellow;
    }
  }

  &__text {
    margin: 0;
    color: #fff;
    font-size: 12px;
    line-height: 1.9;
    font-family: $bpro;
    text-align: center;

    @include breakpoint(960px) {
      margin: 8px 0 20px;
      font-size: 18px;
      text-align: left;
    }

    &--importer {
      @include breakpoint(max-width 959px) {
        margin-top: 35px;
      }
    }

    &--last {
      @include breakpoint(max-width 959px) {
        margin-top: 10px;
      }
    }
  }

  &__yellow {
    color: $yellow
  }
}
