.why {
  background: url('../../../images/front/bg/why.jpg') no-repeat center top;
  height: 940px;
  color: #fff;

  @include breakpoint(max-width 479px) {
    background: url('../../../images/front/bg/why_sm.jpg') no-repeat center top;
    height: 558px;
    background-size: cover;
  }

  &__inner {
    @include container;
    position: relative;
    height: 100%;
  }

  &__flag {
    position: absolute;
    left: 0;
  }

  &__left {
    padding-top: 20px;
    max-width: 320px;
    margin: 0 auto;

    @include breakpoint(480px 959px) {
      max-width: 330px;
      padding-top: 40px;
    }
    @include breakpoint(960px) {
      float: left;
      padding-top: 170px;
      max-width: 100%;
    }
  }

  &__right {
    max-width: 310px;
    margin: 0 auto;
    background: rgba(#3b475d, 0.75);
    padding: 10px 10px 15px;

    @include breakpoint(480px 959px) {
      max-width: 450px;
    }
    @include breakpoint(960px) {
      float: right;
      max-width: 510px;
      padding: 65px 0 0;
      background: transparent;
    }
  }

  &__title {
    @include breakpoint(max-width 479px) {
      max-width: 170px;
      margin: 5px auto 0;
    }
  }

  &__question {
    padding-left: 30px;
    font-family: $bpro;
    font-size: 16px;

    @include breakpoint(480px 959px) {
      padding-left: 40px;
      font-size: 24px;
    }
    @include breakpoint(960px) {
      padding-left: 60px;
      font-size: 32px;
    }
  }

  &__brand {
    font-family: $bpro-medium;
    font-size: 38px;
    font-weight: bold;
    line-height: 0.7;
    letter-spacing: 0.035em;

    @include breakpoint(480px 959px) {
      font-size: 64px;
    }
    @include breakpoint(960px) {
      padding-left: 20px;
      font-size: 72px;
    }
  }

  &__yellow {
    color: $light-yellow;
  }

  &__steps {
    margin: 16px auto 4px;
    list-style-type: none;

    @include breakpoint(max-width 479px) {
      max-width: 250px;
    }
    @include breakpoint(480px 959px) {
      margin: 40px 0 10px;
    }
    @include breakpoint(960px) {
      margin: 60px 0 0 32px;
    }
  }

  &__step {
    display: inline-block;
    vertical-align: top;

    &--1 {
      .why__text {
        position: relative;
        left: -6px;
      }
    }
    &--2 {
      @include breakpoint(480px) {
        margin: 0 2px 0 12px;
      }

      .why__text {
        position: relative;
        left: -6px;
        top: -3px;
      }
    }
    &--3 {
      @include breakpoint(480px) {
        margin-left: 4px;
      }
    }
  }

  &__arrow {
    @include sprite($s-arrow);
    display: inline-block;
    margin: 24px 12px 0;

    @include breakpoint(max-width 479px) {
      margin: 24px 0 0;
      transform: scale(0.5);
    }
  }

  &__icon {
    display: inline-block;

    @include breakpoint(max-width 479px) {
      transform: scale(0.5);
    }

    &--bottle {
      @include sprite($s-bottle);
    }
    &--course {
      @include sprite($s-course);
    }
    &--pig {
      @include sprite($s-pig);
    }
    &--check {
      @include sprite($s-check);
    }
  }

  &__caption {
    max-width: 55px;
    margin: 0 auto;
    font-family: $ptsans;
    font-size: 11px;
    line-height: 1.25;
    text-align: center;
    position: relative;
    top: -10px;

    @include breakpoint(480px) {
      top: 0;
      margin: 10px 0 0;
      font-size: 17px;
      max-width: 70px;
    }
  }

  &__text {
    margin-bottom: 4px;
    padding-top: 4px;
    color: #ffe223;
    font-family: $bpro;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;

    @include breakpoint(480px) {
      margin-bottom: 15px;
      padding-top: 15px;
      line-height: 1.35;
    }
    @include breakpoint(480px 959px) {
      font-size: 16px;
    }
    @include breakpoint(960px) {
      font-size: 20px;
      text-align: left;
    }
  }

  &__divider {
    max-width: 510px;
    @include line(5px, #fff);
  }

  &__button {
    display: block;
    position: relative;
    top: 80px;
    width: 294px;
    height: 53px;
    clear: both;
    margin: 0 auto;
    color: #fff;
    background: $yellow2;
    border: solid 2px #fff;
    font-family: $bpro;
    font-size: 16px;
    line-height: 53px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;

    @include breakpoint(max-width 479px) {
      top: 32px;
      width: 160px;
      height: 32px;
      font-size: 12px;
      line-height: 26px;
    }
    @include breakpoint(960px) {
      top: 120px;
    }
    &:hover {
      background: darken($yellow2, 10%);
    }
  }
}
