.why {
  background: url('../../../images/front/bg/why.jpg') no-repeat center top;
  height: 940px;
  color: #fff;

  &__inner {
    @include container;
    position: relative;
    height: 100%;
  }

  &__flag {
    position: absolute;
    left: 0;
  }

  &__left {
    float: left;
    padding-top: 170px;
  }

  &__right {
    float: right;
    max-width: 510px;
    padding-top: 65px;
  }

  &__question {
    padding-left: 60px;
    font-family: $bpro;
    font-size: 32px;
  }

  &__brand {
    padding-left: 20px;
    font-family: $bpro-medium;
    font-size: 72px;
    font-weight: bold;
    line-height: 0.7;
    letter-spacing: 0.035em;
  }

  &__yellow {
    color: $light-yellow;
  }

  &__steps {
    margin-top: 60px;
    margin-left: 32px;
    list-style-type: none;
  }

  &__step {
    display: inline-block;
    vertical-align: top;
    &--1 {
      .why__text {
        position: relative;
        left: -6px;
      }
    }
    &--2 {
      margin: 0 2px 0 12px;

      .why__text {
        position: relative;
        left: -6px;
        top: -3px;
      }
    }
    &--3 {
      margin-left: 4px;
    }
  }

  &__arrow {
    display: inline-block;
    margin: 24px 12px 0;

    @include sprite($s-arrow);
  }

  &__icon {
    display: inline-block;

    &--bottle {
      @include sprite($s-bottle);
    }
    &--course {
      @include sprite($s-course);
    }
    &--pig {
      @include sprite($s-pig);
    }
    &--check {
      @include sprite($s-check);
    }
  }

  &__caption {
    max-width: 70px;
    margin-top: 10px;
    font-family: $ptsans;
    font-size: 17px;
    line-height: 1.25;
    text-align: center;
  }

  &__text {
    margin-bottom: 15px;
    padding-top: 15px;
    color: #ffe223;
    font-family: $bpro;
    font-size: 20px;
    line-height: 1.35;
  }

  &__divider {
    max-width: 510px;
    @include line(5px, #fff);
  }

  &__button {
    display: block;
    position: relative;
    top: 120px;
    width: 294px;
    height: 53px;
    clear: both;
    margin: 0 auto;
    color: #fff;
    background: $yellow2;
    border: solid 2px #fff;
    font-family: $bpro;
    font-size: 16px;
    line-height: 53px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    &:hover {
      background: darken($yellow2, 10%);
    }
  }
}
