@mixin line($space, $color: "#fff", $height: 1px, $opacity: "1") {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  &:before,
  &:after {
    background: $color;
    content: '';
    display: inline-block;
    height: $height;
    opacity: $opacity;
    position: relative;
    vertical-align: middle;
    width: 200%;
    z-index: -1;
  }
  &:before {
    right: $space;
    margin: 0 0 0 -200%;
  }
  &:after {
    left: $space;
    margin: 0 -200% 0 0;
  }
}

@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
