$s-arrow-x: 166px;
$s-arrow-y: 74px;
$s-arrow-offset-x: -166px;
$s-arrow-offset-y: -74px;
$s-arrow-width: 18px;
$s-arrow-height: 32px;
$s-arrow-total-width: 294px;
$s-arrow-total-height: 210px;
$s-arrow-image: 'sprites.png';
$s-arrow: 166px 74px -166px -74px 18px 32px 294px 210px 'sprites.png';
$s-bottle-x: 244px;
$s-bottle-y: 0px;
$s-bottle-offset-x: -244px;
$s-bottle-offset-y: 0px;
$s-bottle-width: 50px;
$s-bottle-height: 71px;
$s-bottle-total-width: 294px;
$s-bottle-total-height: 210px;
$s-bottle-image: 'sprites.png';
$s-bottle: 244px 0px -244px 0px 50px 71px 294px 210px 'sprites.png';
$s-check-x: 187px;
$s-check-y: 135px;
$s-check-offset-x: -187px;
$s-check-offset-y: -135px;
$s-check-width: 23px;
$s-check-height: 23px;
$s-check-total-width: 294px;
$s-check-total-height: 210px;
$s-check-image: 'sprites.png';
$s-check: 187px 135px -187px -135px 23px 23px 294px 210px 'sprites.png';
$s-circle-big-x: 59px;
$s-circle-big-y: 135px;
$s-circle-big-offset-x: -59px;
$s-circle-big-offset-y: -135px;
$s-circle-big-width: 62px;
$s-circle-big-height: 63px;
$s-circle-big-total-width: 294px;
$s-circle-big-total-height: 210px;
$s-circle-big-image: 'sprites.png';
$s-circle-big: 59px 135px -59px -135px 62px 63px 294px 210px 'sprites.png';
$s-circle-blue-x: 186px;
$s-circle-blue-y: 77px;
$s-circle-blue-offset-x: -186px;
$s-circle-blue-offset-y: -77px;
$s-circle-blue-width: 42px;
$s-circle-blue-height: 42px;
$s-circle-blue-total-width: 294px;
$s-circle-blue-total-height: 210px;
$s-circle-blue-image: 'sprites.png';
$s-circle-blue: 186px 77px -186px -77px 42px 42px 294px 210px 'sprites.png';
$s-circle-gold-x: 244px;
$s-circle-gold-y: 155px;
$s-circle-gold-offset-x: -244px;
$s-circle-gold-offset-y: -155px;
$s-circle-gold-width: 42px;
$s-circle-gold-height: 42px;
$s-circle-gold-total-width: 294px;
$s-circle-gold-total-height: 210px;
$s-circle-gold-image: 'sprites.png';
$s-circle-gold: 244px 155px -244px -155px 42px 42px 294px 210px 'sprites.png';
$s-close-x: 159px;
$s-close-y: 135px;
$s-close-offset-x: -159px;
$s-close-offset-y: -135px;
$s-close-width: 28px;
$s-close-height: 28px;
$s-close-total-width: 294px;
$s-close-total-height: 210px;
$s-close-image: 'sprites.png';
$s-close: 159px 135px -159px -135px 28px 28px 294px 210px 'sprites.png';
$s-course-x: 0px;
$s-course-y: 135px;
$s-course-offset-x: 0px;
$s-course-offset-y: -135px;
$s-course-width: 59px;
$s-course-height: 75px;
$s-course-total-width: 294px;
$s-course-total-height: 210px;
$s-course-image: 'sprites.png';
$s-course: 0px 135px 0px -135px 59px 75px 294px 210px 'sprites.png';
$s-down-x: 107px;
$s-down-y: 74px;
$s-down-offset-x: -107px;
$s-down-offset-y: -74px;
$s-down-width: 59px;
$s-down-height: 58px;
$s-down-total-width: 294px;
$s-down-total-height: 210px;
$s-down-image: 'sprites.png';
$s-down: 107px 74px -107px -74px 59px 58px 294px 210px 'sprites.png';
$s-down_sm-x: 121px;
$s-down_sm-y: 135px;
$s-down_sm-offset-x: -121px;
$s-down_sm-offset-y: -135px;
$s-down_sm-width: 38px;
$s-down_sm-height: 37px;
$s-down_sm-total-width: 294px;
$s-down_sm-total-height: 210px;
$s-down_sm-image: 'sprites.png';
$s-down_sm: 121px 135px -121px -135px 38px 37px 294px 210px 'sprites.png';
$s-facebook-x: 244px;
$s-facebook-y: 113px;
$s-facebook-offset-x: -244px;
$s-facebook-offset-y: -113px;
$s-facebook-width: 42px;
$s-facebook-height: 42px;
$s-facebook-total-width: 294px;
$s-facebook-total-height: 210px;
$s-facebook-image: 'sprites.png';
$s-facebook: 244px 113px -244px -113px 42px 42px 294px 210px 'sprites.png';
$s-pig-x: 107px;
$s-pig-y: 0px;
$s-pig-offset-x: -107px;
$s-pig-offset-y: 0px;
$s-pig-width: 79px;
$s-pig-height: 74px;
$s-pig-total-width: 294px;
$s-pig-total-height: 210px;
$s-pig-image: 'sprites.png';
$s-pig: 107px 0px -107px 0px 79px 74px 294px 210px 'sprites.png';
$s-probiotic-x: 0px;
$s-probiotic-y: 0px;
$s-probiotic-offset-x: 0px;
$s-probiotic-offset-y: 0px;
$s-probiotic-width: 107px;
$s-probiotic-height: 135px;
$s-probiotic-total-width: 294px;
$s-probiotic-total-height: 210px;
$s-probiotic-image: 'sprites.png';
$s-probiotic: 0px 0px 0px 0px 107px 135px 294px 210px 'sprites.png';
$s-probiotic_sm-x: 186px;
$s-probiotic_sm-y: 0px;
$s-probiotic_sm-offset-x: -186px;
$s-probiotic_sm-offset-y: 0px;
$s-probiotic_sm-width: 58px;
$s-probiotic_sm-height: 77px;
$s-probiotic_sm-total-width: 294px;
$s-probiotic_sm-total-height: 210px;
$s-probiotic_sm-image: 'sprites.png';
$s-probiotic_sm: 186px 0px -186px 0px 58px 77px 294px 210px 'sprites.png';
$s-toggle-x: 210px;
$s-toggle-y: 135px;
$s-toggle-offset-x: -210px;
$s-toggle-offset-y: -135px;
$s-toggle-width: 26px;
$s-toggle-height: 19px;
$s-toggle-total-width: 294px;
$s-toggle-total-height: 210px;
$s-toggle-image: 'sprites.png';
$s-toggle: 210px 135px -210px -135px 26px 19px 294px 210px 'sprites.png';
$s-vkontakte-x: 244px;
$s-vkontakte-y: 71px;
$s-vkontakte-offset-x: -244px;
$s-vkontakte-offset-y: -71px;
$s-vkontakte-width: 43px;
$s-vkontakte-height: 42px;
$s-vkontakte-total-width: 294px;
$s-vkontakte-total-height: 210px;
$s-vkontakte-image: 'sprites.png';
$s-vkontakte: 244px 71px -244px -71px 43px 42px 294px 210px 'sprites.png';
