$bpro-dir           : '../../../fonts/BanderaPro';
$bpro-heavy-dir     : '../../../fonts/BanderaProHeavy';
$bpro-light-dir     : '../../../fonts/BanderaProLight';
$bpro-medium-dir    : '../../../fonts/BanderaProMedium';
$bpro-thin-dir      : '../../../fonts/BanderaProThin';
$ptsans-dir         : '../../../fonts/PTSans';
$ptsans-narrow-dir  : '../../../fonts/PTSans-Narrow';
$ptserif-dir        : '../../../fonts/PTSerif';

// BanderaPro
@include font-face('BanderaPro', ('#{$bpro-dir}/BanderaPro.woff', '#{$bpro-dir}/BanderaPro.ttf'), '#{$bpro-dir}/BanderaPro.eot');
@include font-face('BanderaPro', ('#{$bpro-dir}/BanderaPro-Bold.woff', '#{$bpro-dir}/BanderaPro-Bold.ttf'), '#{$bpro-dir}/BanderaPro-Bold.eot', bold, normal);
@include font-face('BanderaPro', ('#{$bpro-dir}/BanderaPro-Italic.woff', '#{$bpro-dir}/BanderaPro-Italic.ttf'), '#{$bpro-dir}/BanderaPro-Italic.eot', normal, italic);
@include font-face('BanderaPro', ('#{$bpro-dir}/BanderaPro-BoldItalic.woff', '#{$bpro-dir}/BanderaPro-BoldItalic.ttf'), '#{$bpro-dir}/BanderaPro-BoldItalic.eot', bold, italic);

// BanderaProHeavy
@include font-face('BanderaProHeavy', ('#{$bpro-heavy-dir}/BanderaProHeavy.woff', '#{$bpro-heavy-dir}/BanderaProHeavy.ttf'), '#{$bpro-heavy-dir}/BanderaProHeavy.eot');
@include font-face('BanderaProHeavy', ('#{$bpro-heavy-dir}/BanderaProHeavy-Italic.woff', '#{$bpro-heavy-dir}/BanderaProHeavy-Italic.ttf'), '#{$bpro-heavy-dir}/BanderaProHeavy-Italic.eot', normal, italic);

// BanderaProLight
@include font-face('BanderaProLight', ('#{$bpro-light-dir}/BanderaProLight.woff', '#{$bpro-light-dir}/BanderaProLight.ttf'), '#{$bpro-light-dir}/BanderaProLight.eot');
@include font-face('BanderaProLight', ('#{$bpro-light-dir}/BanderaProLight-Italic.woff', '#{$bpro-light-dir}/BanderaProLight-Italic.ttf'), '#{$bpro-light-dir}/BanderaProLight-Italic.eot', normal, italic);

// BanderaProMedium
@include font-face('BanderaProMedium', ('#{$bpro-medium-dir}/BanderaProMedium.woff', '#{$bpro-medium-dir}/BanderaProMedium.ttf'), '#{$bpro-medium-dir}/BanderaProMedium.eot');
@include font-face('BanderaProMedium', ('#{$bpro-medium-dir}/BanderaProMedium-Italic.woff', '#{$bpro-medium-dir}/BanderaProMedium-Italic.ttf'), '#{$bpro-medium-dir}/BanderaProMedium-Italic.eot', normal, italic);

// BanderaProThin
@include font-face('BanderaProThin', ('#{$bpro-thin-dir}/BanderaProThin.woff', '#{$bpro-thin-dir}/BanderaProThin.ttf'), '#{$bpro-thin-dir}/BanderaProThin.eot');
@include font-face('BanderaProThin', ('#{$bpro-thin-dir}/BanderaProThin-Italic.woff', '#{$bpro-thin-dir}/BanderaProThin-Italic.ttf'), '#{$bpro-thin-dir}/BanderaProThin-Italic.eot', normal, italic);

// PTSans
@include font-face('PTSans', ('#{$ptsans-dir}/PTSans-Regular.woff', '#{$ptsans-dir}/PTSans-Regular.ttf'), '#{$ptsans-dir}/PTSans-Regular.eot');
@include font-face('PTSans', ('#{$ptsans-dir}/PTSans-Bold.woff', '#{$ptsans-dir}/PTSans-Bold.ttf'), '#{$ptsans-dir}/PTSans-Bold.eot', bold, normal);

// PTSansNarrow
@include font-face('PTSansNarrow', ('#{$ptsans-narrow-dir}/PTSans-Narrow.woff', '#{$ptsans-narrow-dir}/PTSans-Narrow.ttf'), '#{$ptsans-narrow-dir}/PTSans-Narrow.eot');
@include font-face('PTSansNarrow', ('#{$ptsans-narrow-dir}/PTSans-NarrowBold.woff', '#{$ptsans-narrow-dir}/PTSans-NarrowBold.ttf'), '#{$ptsans-narrow-dir}/PTSans-NarrowBold.eot', bold, normal);

// PTSerif
@include font-face('PTSerif', ('#{$ptserif-dir}/PTSerif-Regular.woff', '#{$ptserif-dir}/PTSerif-Regular.ttf'), '#{$ptserif-dir}/PTSerif-Regular.eot');
@include font-face('PTSerif', ('#{$ptserif-dir}/PTSerif-Bold.woff', '#{$ptserif-dir}/PTSerif-Bold.ttf'), '#{$ptserif-dir}/PTSerif-Bold.eot', bold, normal);

$bpro           : 'BanderaPro', Georgia, Times, 'Times New Roman', serif;
$bpro-heavy     : 'BanderaProHeavy', Georgia, Times, 'Times New Roman', serif;
$bpro-light     : 'BanderaProLight', Georgia, Times, 'Times New Roman', serif;
$bpro-medium    : 'BanderaProMedium', Georgia, Times, 'Times New Roman', serif;
$bpro-thin      : 'BanderaProThin', Georgia, Times, 'Times New Roman', serif;
$ptsans         : 'PTSans', Helvetica, Arial, sans-serif;
$ptsans-narrow  : 'PTSansNarrow', 'PTSans', Helvetica, Arial, sans-serif;
$ptserif        : 'PTSerif', 'Times New Roman', serif;
