body {
  min-width: 320px;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

@font-face {
  font-family: "BanderaPro";
  src: url("../../../fonts/BanderaPro/BanderaPro.eot");
  src: url("../../../fonts/BanderaPro/BanderaPro.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaPro/BanderaPro.woff") format("woff"), url("../../../fonts/BanderaPro/BanderaPro.ttf") format("truetype");
}

@font-face {
  font-family: "BanderaPro";
  src: url("../../../fonts/BanderaPro/BanderaPro-Bold.eot");
  src: url("../../../fonts/BanderaPro/BanderaPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaPro/BanderaPro-Bold.woff") format("woff"), url("../../../fonts/BanderaPro/BanderaPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BanderaPro";
  src: url("../../../fonts/BanderaPro/BanderaPro-Italic.eot");
  src: url("../../../fonts/BanderaPro/BanderaPro-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaPro/BanderaPro-Italic.woff") format("woff"), url("../../../fonts/BanderaPro/BanderaPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BanderaPro";
  src: url("../../../fonts/BanderaPro/BanderaPro-BoldItalic.eot");
  src: url("../../../fonts/BanderaPro/BanderaPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaPro/BanderaPro-BoldItalic.woff") format("woff"), url("../../../fonts/BanderaPro/BanderaPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "BanderaProHeavy";
  src: url("../../../fonts/BanderaProHeavy/BanderaProHeavy.eot");
  src: url("../../../fonts/BanderaProHeavy/BanderaProHeavy.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaProHeavy/BanderaProHeavy.woff") format("woff"), url("../../../fonts/BanderaProHeavy/BanderaProHeavy.ttf") format("truetype");
}

@font-face {
  font-family: "BanderaProHeavy";
  src: url("../../../fonts/BanderaProHeavy/BanderaProHeavy-Italic.eot");
  src: url("../../../fonts/BanderaProHeavy/BanderaProHeavy-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaProHeavy/BanderaProHeavy-Italic.woff") format("woff"), url("../../../fonts/BanderaProHeavy/BanderaProHeavy-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BanderaProLight";
  src: url("../../../fonts/BanderaProLight/BanderaProLight.eot");
  src: url("../../../fonts/BanderaProLight/BanderaProLight.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaProLight/BanderaProLight.woff") format("woff"), url("../../../fonts/BanderaProLight/BanderaProLight.ttf") format("truetype");
}

@font-face {
  font-family: "BanderaProLight";
  src: url("../../../fonts/BanderaProLight/BanderaProLight-Italic.eot");
  src: url("../../../fonts/BanderaProLight/BanderaProLight-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaProLight/BanderaProLight-Italic.woff") format("woff"), url("../../../fonts/BanderaProLight/BanderaProLight-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BanderaProMedium";
  src: url("../../../fonts/BanderaProMedium/BanderaProMedium.eot");
  src: url("../../../fonts/BanderaProMedium/BanderaProMedium.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaProMedium/BanderaProMedium.woff") format("woff"), url("../../../fonts/BanderaProMedium/BanderaProMedium.ttf") format("truetype");
}

@font-face {
  font-family: "BanderaProMedium";
  src: url("../../../fonts/BanderaProMedium/BanderaProMedium-Italic.eot");
  src: url("../../../fonts/BanderaProMedium/BanderaProMedium-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaProMedium/BanderaProMedium-Italic.woff") format("woff"), url("../../../fonts/BanderaProMedium/BanderaProMedium-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BanderaProThin";
  src: url("../../../fonts/BanderaProThin/BanderaProThin.eot");
  src: url("../../../fonts/BanderaProThin/BanderaProThin.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaProThin/BanderaProThin.woff") format("woff"), url("../../../fonts/BanderaProThin/BanderaProThin.ttf") format("truetype");
}

@font-face {
  font-family: "BanderaProThin";
  src: url("../../../fonts/BanderaProThin/BanderaProThin-Italic.eot");
  src: url("../../../fonts/BanderaProThin/BanderaProThin-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BanderaProThin/BanderaProThin-Italic.woff") format("woff"), url("../../../fonts/BanderaProThin/BanderaProThin-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Regular.eot");
  src: url("../../../fonts/PTSans/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Regular.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Bold.eot");
  src: url("../../../fonts/PTSans/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Bold.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSansNarrow";
  src: url("../../../fonts/PTSans-Narrow/PTSans-Narrow.eot");
  src: url("../../../fonts/PTSans-Narrow/PTSans-Narrow.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Narrow/PTSans-Narrow.woff") format("woff"), url("../../../fonts/PTSans-Narrow/PTSans-Narrow.ttf") format("truetype");
}

@font-face {
  font-family: "PTSansNarrow";
  src: url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.eot");
  src: url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.woff") format("woff"), url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Regular.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Regular.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Bold.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Bold.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.about {
  background: #fff;
  width: 100%;
  box-shadow: inset 0 25px 30px -25px;
  text-align: center;
}

.about__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0 35px;
  position: relative;
}

.about__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.about__flag {
  position: absolute;
  top: 0;
  left: 0;
}

.about__title {
  max-width: 180px;
  margin: 0 auto;
  color: #6b6b6b;
  font-family: "BanderaProLight", Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
}

.about__brand {
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  color: #474b85;
}

.about__goals {
  margin: 20px 0;
  text-align: center;
  border-bottom: solid 1px #ccc;
}

.about__goal {
  width: 28%;
  display: inline-block;
  vertical-align: top;
  min-height: 120px;
}

.about__goal--1 {
  width: 30%;
}

.about__list {
  text-align: center;
}

.about__item {
  width: 30%;
  display: inline-block;
  height: 150px;
  margin: 0 0 8px 4px;
  vertical-align: top;
  background: #dbdbdb;
  padding: 5px;
}

.about__vitamin {
  padding: 16px 0;
  margin-bottom: 20px;
  border-bottom: solid 2px #e4cc31;
  color: #5c6291;
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
}

.about__link {
  display: block;
  margin-bottom: 30px;
  color: #4c5281;
  font-family: "PTSansNarrow", "PTSans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.25;
}

.about__link:hover {
  color: #303351;
}

.about__circle {
  display: inline-block;
  vertical-align: middle;
}

.about__circle--gold {
  background-image: url("../../../images/front/sprites.png");
  background-position: -244px -155px;
  width: 42px;
  height: 42px;
}

.about__circle--blue {
  background-image: url("../../../images/front/sprites.png");
  background-position: -186px -77px;
  width: 42px;
  height: 42px;
}

.about__text {
  font-family: "PTSansNarrow", "PTSans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #545454;
  line-height: 1.25;
}

.capsule {
  background: url("../../../images/front/bg/capsule.jpg") no-repeat center top;
  height: 640px;
  color: #fff;
}

.capsule__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.capsule__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.capsule__text {
  max-width: 230px;
}

.capsule__title {
  margin: 20px 0;
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  padding-left: 18px;
}

.capsule__list {
  padding: 12px 0 28px;
  list-style-type: none;
  border-top: solid 1px #e4cc31;
  border-bottom: solid 1px #e4cc31;
}

.capsule__item {
  font-family: "BanderaPro", Georgia, Times, "Times New Roman", serif;
  font-size: 11px;
  line-height: 1.8;
}

.capsule__item b {
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

.contact {
  background: #626262;
}

.contact__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.contact__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.contact__title {
  margin: 0 auto 36px;
  max-width: 200px;
  padding: 48px 0 0;
  vertical-align: top;
  color: #fff;
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  text-align: right;
}

.contact__form {
  margin: 0 auto 15px;
}

.contact__small {
  font-size: 18px;
  position: relative;
  right: 25px;
}

.contact__large {
  font-size: 36px;
  line-height: 0.5;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.contact__fio {
  margin-bottom: 12px;
}

.contact__email {
  margin-bottom: 12px;
}

.contact__text {
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 5px;
}

.contact__input {
  max-width: 250px;
  margin: 0;
  padding: 8px 6px 8px 24px;
  font-family: "PTSans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: solid 1px #fff;
  border-radius: 5px;
}

.contact__input::-webkit-input-placeholder {
  color: #9c9c9c;
  font-style: italic;
}

.contact__input:-moz-placeholder {
  /* Firefox 18- */
  color: #9c9c9c;
  font-style: italic;
}

.contact__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9c9c9c;
  font-style: italic;
}

.contact__input:-ms-input-placeholder {
  color: #9c9c9c;
  font-style: italic;
}

.contact__input:focus {
  outline: none;
  border: solid 1px #999;
}

.contact__input:focus::-webkit-input-placeholder {
  color: #fff;
}

.contact__input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.contact__input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.contact__input:focus:-ms-input-placeholder {
  color: #fff;
}

.contact__textarea {
  max-width: 250px;
  max-height: 87px;
  padding: 6px 12px;
  font-family: "PTSans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: solid 1px #fff;
  border-radius: 5px;
}

.contact__textarea::-webkit-input-placeholder {
  color: #9c9c9c;
  font-style: italic;
}

.contact__textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #9c9c9c;
  font-style: italic;
}

.contact__textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #9c9c9c;
  font-style: italic;
}

.contact__textarea:-ms-input-placeholder {
  color: #9c9c9c;
  font-style: italic;
}

.contact__textarea:focus {
  outline: none;
  border: solid 1px #999;
}

.contact__textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.contact__textarea:focus:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.contact__textarea:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.contact__textarea:focus:-ms-input-placeholder {
  color: #fff;
}

.contact .webform-client-form {
  max-width: 470px;
  overflow: hidden;
}

.contact .form-submit {
  width: 250px;
  padding: 11px 20px;
  background: #fac819;
  color: #fff;
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 5px 0 #b6941b;
}

.contact .form-submit:hover {
  background: #dbac05;
}

.flag {
  background-image: url("../../../images/front/sprites.png");
  background-position: -186px 0px;
  width: 58px;
  height: 77px;
}

.footer {
  padding: 70px 0 100px;
  background: #626262;
}

.footer__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.footer__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.footer__content {
  margin-left: 70px;
  padding-left: 30px;
  border-left: solid 1px #e4cc31;
}

.footer__text {
  margin: 8px 0 28px;
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
  font-family: "BanderaPro", Georgia, Times, "Times New Roman", serif;
}

.footer__yellow {
  color: #e4cc31;
}

.header {
  background: url("../../../images/front/bg/header_sm.jpg") no-repeat center top;
  height: 510px;
  color: #fff;
}

.header__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

.header__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.header__flag {
  position: absolute;
  left: 60px;
}

.header__nav {
  display: none;
}

.header__item {
  display: inline-block;
}

.header__navlink {
  display: block;
  color: #fff;
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  text-decoration: none;
}

.header__navlink:hover {
  text-decoration: underline;
}

.header__text {
  position: relative;
  top: 290px;
  left: 0;
  max-width: 220px;
  margin: 0 auto;
}

.header__title {
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 0.025em;
}

.header__caps {
  font-size: 60px;
}

.header__slogan {
  font-family: "BanderaProLight", Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.2;
  font-style: italic;
  text-align: center;
}

.header__buy {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  padding: 12px 28px;
  background: #fac819;
  color: #fff;
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 5px 0 #b6941b;
}

.header__buy:hover {
  background: #dbac05;
}

.header__contact {
  position: absolute;
  top: 25px;
  right: 15px;
  text-align: right;
}

.header__phone {
  margin-right: 6px;
  margin-bottom: 6px;
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  letter-spacing: 0.025em;
}

.header__icon {
  display: inline-block;
  text-decoration: none;
  -ms-transform: scale(0.85);
      transform: scale(0.85);
  margin: 4px 0;
}

.header__icon:hover {
  opacity: 0.8;
}

.header__icon--vkontakte {
  background-image: url("../../../images/front/sprites.png");
  background-position: -244px -71px;
  width: 43px;
  height: 42px;
}

.header__icon--facebook {
  background-image: url("../../../images/front/sprites.png");
  background-position: -244px -113px;
  width: 42px;
  height: 42px;
}

.header__down {
  background-image: url("../../../images/front/sprites.png");
  background-position: -121px -135px;
  width: 38px;
  height: 37px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  text-decoration: none;
}

.header__down:focus {
  text-decoration: none;
}

.header__trigger {
  display: none;
}

.header__trigger:checked ~ .header__nav {
  display: block;
  position: absolute;
  z-index: 50;
  margin: 0;
  background: #2f2f31;
  opacity: 0.9;
  padding: 40px 35px 20px;
  max-width: 250px;
}

.header__trigger:checked ~ .header__nav .header__item {
  display: block;
  max-width: 250px;
  padding: 20px 0px;
  border-bottom: solid 1px #f2cf4b;
}

.header__trigger:checked ~ .header__nav .header__item--last {
  border: none;
}

.header__trigger:checked ~ .header__nav .header__navlink {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.header__toggle {
  background-image: url("../../../images/front/sprites.png");
  background-position: -210px -135px;
  width: 26px;
  height: 19px;
  position: absolute;
  z-index: 100;
  top: 25px;
  left: 18px;
  text-decoration: none;
  cursor: pointer;
}

.header__toggle:hover {
  opacity: 0.5;
}

.jqmWindow {
  display: none;
  left: 50%;
  top: 20%;
  position: fixed;
}

.jqmContentWrapper {
  background: #fff;
  position: relative;
  left: -50%;
}

.jqmContent {
  position: relative;
  z-index: 1;
}

.jqmClose {
  display: block;
  position: absolute;
  z-index: 100;
  top: 7px;
  right: 7px;
  background-image: url("../../../images/front/sprites.png");
  background-position: -159px -135px;
  width: 28px;
  height: 28px;
}

.jqmOverlay {
  background-color: #000;
}

#popup-messages .messages--status {
  background: none;
}

#popup-messages .messages {
  margin: 0;
  padding: 30px;
  border: none;
  color: #555454;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 21px;
  text-align: center;
  line-height: 1.5;
}

#popup-messages .messages a {
  margin-top: 10px;
  color: #04ade4;
  font-size: 16px;
}

#popup-messages .messages a:hover {
  color: #0387b2;
}

.map {
  padding-top: 52px;
}

.map__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.map__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.map__title {
  margin-bottom: 40px;
  color: #626262;
  font-family: "BanderaPro", Georgia, Times, "Times New Roman", serif;
  font-size: 27px;
  text-align: center;
}

.map__address {
  text-align: center;
}

.map__caption {
  color: #108e96;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 30px;
  font-style: italic;
}

.map__list {
  list-style-type: none;
}

.map__item {
  margin: 42px 0;
}

.map__wrapper {
  position: relative;
  min-height: 495px;
  margin-top: 10px;
}

.map__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.map__link {
  color: #5c5c5c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 14px;
  font-style: italic;
}

.map__link:hover {
  color: #626262;
}

.map__popover {
  min-width: 150px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
}

.modal {
  padding: 25px 0 15px;
  text-align: center;
}

.modal__title {
  margin-bottom: 40px;
  padding: 15px 0;
  background: #efbf03;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
}

.modal__text {
  padding: 0 40px;
  color: #626262;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 17px;
  line-height: 1.5;
}

.modal__text--func {
  margin-top: 20px;
}

.usage {
  background: url("../../../images/front/bg/usage.jpg") no-repeat center top;
  height: 520px;
}

.usage__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.usage__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.usage__flag {
  position: absolute;
  right: 0;
}

.usage__title {
  position: relative;
  left: 70px;
  max-width: 250px;
  margin: 0 auto;
  padding-top: 175px;
  color: #606060;
  font-family: "BanderaPro", Georgia, Times, "Times New Roman", serif;
  font-size: 27px;
}

.usage__content {
  float: left;
  margin-top: 100px;
  margin-left: 45%;
  max-width: 550px;
  padding-top: 12px;
}

.usage__icon {
  background-image: url("../../../images/front/sprites.png");
  background-position: -59px -135px;
  width: 62px;
  height: 63px;
  float: left;
  margin: 10px 35px 0 10px;
}

.usage__text {
  color: #fff;
  font-family: "BanderaPro", Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  line-height: 1.35;
  font-style: italic;
}

.why {
  background: url("../../../images/front/bg/why.jpg") no-repeat center top;
  height: 940px;
  color: #fff;
}

.why__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

.why__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.why__flag {
  position: absolute;
  left: 0;
}

.why__left {
  padding-top: 20px;
  max-width: 320px;
  margin: 0 auto;
}

.why__right {
  max-width: 310px;
  margin: 0 auto;
  background: rgba(59, 71, 93, 0.75);
  padding: 10px 10px 15px;
}

.why__question {
  padding-left: 30px;
  font-family: "BanderaPro", Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

.why__brand {
  font-family: "BanderaProMedium", Georgia, Times, "Times New Roman", serif;
  font-size: 38px;
  font-weight: bold;
  line-height: 0.7;
  letter-spacing: 0.035em;
}

.why__yellow {
  color: #fadd1a;
}

.why__steps {
  margin: 16px auto 4px;
  list-style-type: none;
}

.why__step {
  display: inline-block;
  vertical-align: top;
}

.why__step--1 .why__text {
  position: relative;
  left: -6px;
}

.why__step--2 .why__text {
  position: relative;
  left: -6px;
  top: -3px;
}

.why__arrow {
  background-image: url("../../../images/front/sprites.png");
  background-position: -166px -74px;
  width: 18px;
  height: 32px;
  display: inline-block;
  margin: 24px 12px 0;
}

.why__icon {
  display: inline-block;
}

.why__icon--bottle {
  background-image: url("../../../images/front/sprites.png");
  background-position: -244px 0px;
  width: 50px;
  height: 71px;
}

.why__icon--course {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px -135px;
  width: 59px;
  height: 75px;
}

.why__icon--pig {
  background-image: url("../../../images/front/sprites.png");
  background-position: -107px 0px;
  width: 79px;
  height: 74px;
}

.why__icon--check {
  background-image: url("../../../images/front/sprites.png");
  background-position: -187px -135px;
  width: 23px;
  height: 23px;
}

.why__caption {
  max-width: 55px;
  margin: 0 auto;
  font-family: "PTSans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.25;
  text-align: center;
  position: relative;
  top: -10px;
}

.why__text {
  margin-bottom: 4px;
  padding-top: 4px;
  color: #ffe223;
  font-family: "BanderaPro", Georgia, Times, "Times New Roman", serif;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
}

.why__divider {
  max-width: 510px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.why__divider:before, .why__divider:after {
  background: #fff;
  content: '';
  display: inline-block;
  height: 1px;
  opacity: "1";
  position: relative;
  vertical-align: middle;
  width: 200%;
  z-index: -1;
}

.why__divider:before {
  right: 5px;
  margin: 0 0 0 -200%;
}

.why__divider:after {
  left: 5px;
  margin: 0 -200% 0 0;
}

.why__button {
  display: block;
  position: relative;
  top: 80px;
  width: 294px;
  height: 53px;
  clear: both;
  margin: 0 auto;
  color: #fff;
  background: #d5bb1f;
  border: solid 2px #fff;
  font-family: "BanderaPro", Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 53px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.why__button:hover {
  background: #a89419;
}

@media (min-width: 480px) {

  .about__inner {
    padding: 80px 0 85px;
  }

  .contact__fio {
    float: left;
    margin-bottom: 10px;
  }

  .contact__email {
    float: left;
    clear: left;
    margin: 0;
  }

  .contact__text {
    float: right;
    position: relative;
    top: -48px;
    margin: 0;
  }

  .contact__input {
    max-width: 225px;
  }

  .contact__textarea {
    max-width: 225px;
  }

  .contact .form-actions {
    float: right;
    clear: both;
    margin: 0;
  }

  .contact .form-submit {
    width: 225px;
    position: relative;
    top: -40px;
  }

  .why__step--2 {
    margin: 0 2px 0 12px;
  }

  .why__step--3 {
    margin-left: 4px;
  }

  .why__caption {
    top: 0;
    margin: 10px 0 0;
    font-size: 17px;
    max-width: 70px;
  }

  .why__text {
    margin-bottom: 15px;
    padding-top: 15px;
    line-height: 1.35;
  }
}

@media (min-width: 900px) {

  .about__flag {
    left: auto;
    right: 0;
  }

  .about__goals {
    margin: 40px 0 60px;
    border-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style-type: none;
  }

  .about__goal {
    width: 15%;
    height: auto;
    margin: 0;
    padding: 15px 0;
    border-bottom: solid 2px #6ca4a2;
  }

  .about__goal--1 {
    width: 15%;
  }

  .about__goal--1 .about__text {
    padding: 5px 0;
  }

  .about__goal--2 .about__text {
    padding: 15px 10px;
  }

  .about__goal--3 .about__text {
    padding: 15px 25px;
  }

  .about__goal--4 .about__text {
    padding: 15px 20px;
  }

  .about__goal--5 .about__text {
    padding: 28px 20px;
  }

  .about__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style-type: none;
  }

  .about__item {
    width: 17%;
    height: auto;
    margin: 0;
    padding: 15px;
  }

  .about__item--1 .about__text {
    padding: 0 5px;
  }

  .about__item--2 .about__text {
    padding: 0 5px;
  }

  .about__item--3 .about__text {
    padding: 0 5px;
  }

  .about__item--4 .about__text {
    padding: 0 7px;
  }

  .about__item--5 .about__text {
    padding: 0 10px;
  }

  .about__link {
    font-size: 18px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {

  .about__title {
    max-width: 300px;
    font-size: 18px;
  }

  .about__vitamin {
    font-size: 16px;
  }

  .about__link {
    font-size: 14px;
  }

  .about__text {
    font-size: 12px;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {

  .about__title {
    max-width: 400px;
    font-size: 24px;
  }

  .about__vitamin {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {

  .about__title {
    max-width: 400px;
    font-size: 27px;
  }

  .about__vitamin {
    font-size: 24px;
  }

  .map__address {
    float: left;
    max-width: 30%;
    padding-top: 45px;
    padding-left: 90px;
    text-align: left;
  }

  .map__wrapper {
    float: right;
    width: 69%;
  }

  .map__link {
    font-size: 18px;
  }

  .modal {
    max-width: 720px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {

  .about__goal {
    height: 140px;
    border-bottom: solid 2px #6ca4a2;
    margin-bottom: 20px;
  }

  .about__goal .about__text {
    padding: 10px;
  }

  .about__item {
    height: 210px;
    padding: 10px;
  }
}

@media (max-width: 479px) {

  .about__vitamin {
    padding: 8px 0;
    margin-bottom: 6px;
  }

  .capsule {
    background: url("../../../images/front/bg/capsule_sm.jpg") no-repeat center top;
    height: 367px;
    background-size: cover;
  }

  .capsule__list {
    padding: 6px 6px 6px 12px;
  }

  .contact__form {
    text-align: center;
    padding-bottom: 45px;
  }

  .contact .form-textarea-wrapper {
    max-width: 250px;
    margin: 0 auto;
  }

  .why {
    background: url("../../../images/front/bg/why_sm.jpg") no-repeat center top;
    height: 558px;
    background-size: cover;
  }

  .why__title {
    max-width: 170px;
    margin: 5px auto 0;
  }

  .why__steps {
    max-width: 250px;
  }

  .why__arrow {
    margin: 24px 0 0;
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  .why__icon {
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  .why__button {
    top: 32px;
    width: 160px;
    height: 32px;
    font-size: 12px;
    line-height: 26px;
  }
}

@media (min-width: 600px) and (max-width: 989px) {

  .about__link {
    font-size: 16px;
  }

  .about__text {
    font-size: 14px;
  }
}

@media (max-width: 599px) {

  .about__picture {
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@media (min-width: 600px) {

  .about__picture {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  }

  .about__picture:before, .about__picture:after {
    background: #6ca4a2;
    content: '';
    display: inline-block;
    height: 2px;
    opacity: "1";
    position: relative;
    vertical-align: middle;
    width: 200%;
    z-index: -1;
  }

  .about__picture:before {
    right: 4px;
    margin: 0 0 0 -200%;
  }

  .about__picture:after {
    left: 4px;
    margin: 0 -200% 0 0;
  }
}

@media (min-width: 990px) and (max-width: 1179px) {

  .about__text {
    font-size: 16px;
  }
}

@media (min-width: 1180px) {

  .about__text {
    font-size: 18px;
  }
}

@media (min-width: 1220px) {

  .about__hack {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 180px;
  }
}

@media (min-width: 480px) and (max-width: 959px) {

  .capsule__text {
    max-width: 400px;
    margin: 0 auto;
  }

  .capsule__title {
    margin: 20px 0 35px;
    padding: 0;
    font-size: 24px;
  }

  .capsule__item {
    font-size: 20px;
    line-height: 1.6;
  }

  .header__phone {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .why__left {
    max-width: 330px;
    padding-top: 40px;
  }

  .why__right {
    max-width: 450px;
  }

  .why__question {
    padding-left: 40px;
    font-size: 24px;
  }

  .why__brand {
    font-size: 64px;
  }

  .why__steps {
    margin: 40px 0 10px;
  }

  .why__text {
    font-size: 16px;
  }
}

@media (min-width: 960px) {

  .capsule__text {
    max-width: 525px;
    margin-left: 180px;
    text-align: right;
  }

  .capsule__title {
    margin: 30px 0 45px;
    padding: 0;
    font-size: 31px;
  }

  .capsule__item {
    font-size: 24px;
    line-height: 1.6;
  }

  .flag {
    background-image: url("../../../images/front/sprites.png");
    background-position: 0px 0px;
    width: 107px;
    height: 135px;
  }

  .header {
    height: 690px;
    background: url("../../../images/front/bg/header.jpg") no-repeat center top;
  }

  .header__nav {
    display: block;
    float: right;
    list-style-type: none;
  }

  .header__navlink {
    padding: 50px 37px;
  }

  .header__text {
    top: 120px;
    left: -40px;
    max-width: 550px;
  }

  .header__title {
    font-size: 100px;
  }

  .header__caps {
    font-size: 130px;
  }

  .header__slogan {
    width: 67%;
    float: right;
    margin-top: 5px;
    font-size: 30px;
    text-align: left;
  }

  .header__buy {
    bottom: 80px;
    padding: 24px 55px;
    font-size: 28px;
  }

  .header__contact {
    top: auto;
    bottom: 32px;
    right: 25px;
  }

  .header__phone {
    margin-bottom: 14px;
    font-size: 30px;
  }

  .header__icon {
    -ms-transform: none;
    transform: none;
    margin: 0 8px;
  }

  .header__toggle {
    display: none;
  }

  .why__left {
    float: left;
    padding-top: 170px;
    max-width: 100%;
  }

  .why__right {
    float: right;
    max-width: 510px;
    padding: 65px 0 0;
    background: transparent;
  }

  .why__question {
    padding-left: 60px;
    font-size: 32px;
  }

  .why__brand {
    padding-left: 20px;
    font-size: 72px;
  }

  .why__steps {
    margin: 60px 0 0 32px;
  }

  .why__text {
    font-size: 20px;
    text-align: left;
  }

  .why__button {
    top: 120px;
  }
}

@media (min-width: 480px) and (max-width: 899px) {

  .contact__title {
    max-width: 300px;
    margin: 0 auto 15px;
    padding: 50px 0 0;
  }

  .contact__form {
    max-width: 456px;
    padding: 30px 0 10px;
  }
}

@media (min-width: 900px) and (max-width: 1139px) {

  .contact__title {
    float: left;
    max-width: 35%;
    margin: 70px 0 0 3%;
    padding: 0 20px 0 0;
  }

  .contact__form {
    float: left;
    width: 60%;
    max-width: 60%;
    margin: 0 0 15px;
    padding: 75px 0 0 30px;
  }
}

@media (min-width: 1140px) {

  .contact__title {
    float: left;
    max-width: 40%;
    margin: 70px 0 0 12%;
    padding: 0 20px 0 0;
  }

  .contact__form {
    float: left;
    width: 45%;
    max-width: 45%;
    margin: 0 0 15px;
    padding: 75px 0 0 45px;
  }

  .contact__small {
    font-size: 32px;
    right: 60px;
  }

  .contact__large {
    font-size: 78px;
  }
}

@media (min-width: 480px) and (max-width: 1139px) {

  .contact__small {
    right: 40px;
    font-size: 24px;
  }

  .contact__large {
    font-size: 64px;
  }
}

@media (max-width: 399px) {

  .header {
    background-size: cover;
  }
}

@media (min-width: 400px) and (max-width: 959px) {

  .header {
    height: 690px;
    background: url("../../../images/front/bg/header_md.jpg") no-repeat center top;
  }

  .header__text {
    top: 360px;
    left: -40px;
    max-width: 300px;
  }

  .header__title {
    font-size: 60px;
  }

  .header__caps {
    font-size: 80px;
  }

  .header__slogan {
    width: 75%;
    float: right;
    margin-top: 5px;
    font-size: 24px;
    text-align: left;
  }

  .header__buy {
    bottom: 75px;
    padding: 16px 32px;
    font-size: 24px;
  }
}

@media (min-width: 960px) and (max-width: 1239px) {

  .header__flag {
    left: 10px;
  }
}

@media (min-width: 1240px) {

  .header__flag {
    left: 315px;
  }
}

@media (min-width: 400px) {

  .header__down {
    background-image: url("../../../images/front/sprites.png");
    background-position: -107px -74px;
    width: 59px;
    height: 58px;
  }
}

@media (max-width: 1023px) {

  .jqmWindow.vitpopup {
    top: 5%;
    left: 5%;
    right: 5%;
  }

  .vitpopup .jqmContentWrapper {
    left: initial;
  }

  .modal__text {
    font-size: 13px;
  }
}

@media (max-width: 639px) {

  .map {
    padding-top: 25px;
  }

  .map__title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .map__caption {
    display: none;
  }

  .map__item {
    margin: 7px 0;
  }
}

@media (min-width: 640px) and (max-width: 767px) {

  .map__title {
    font-size: 24px;
  }

  .map__caption {
    font-size: 24px;
  }
}
