$gold         : #efbf03;
$gray-mid     : #626262;
$light-blue   : #6ca4a2;
$blue         : #5c6291;
$yellow       : #e4cc31;
$yellow2      : #d5bb1f;
$blue-link    : #4c5281;
$light-yellow : #fadd1a;
